Body {
	margin: 0;
	font-size: 16px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#onTopScreen {
	background:#6B3670;
	z-index: 100;
	width: 100%;
	height: 100vh;
	position: absolute;
}

#onTopScreen--content {
	position: absolute;
	text-align: center;
	top: 20%;
	width: 100%;
}

#onTopScreen h1 {
	color: #fff;
  font-size: 2em;

	width: 40%;
	margin: 1em auto 1em;
}

#onTopScreen h2 {
	color: #fff;
	font-size: 1.3em;
	width: 40%;
	margin: 0 auto;
}

#onTopScreen #button {
	display: inline-block;
	color: #fff;
	border-width: .125em;
	border-radius: 1000px;
  padding-left: 1.5em;
  padding-right: 1.5em;

	font-weight: 400;
  font-size: 1.2em;
  line-height: 1.1667;

  padding-top: .58334em;
  padding-bottom: .58334em;

	border-style: solid;
  transition: background-color .5s ease;
	cursor: pointer;
}

#onTopScreen #button:hover {
	color: #6B3670;
    background-color: #fff;
    border-color: #fff;
}

@media (max-width: 768px) {
	#onTopScreen--content,
	#onTopScreen h1,
	#onTopScreen h2 {
		width: 90%;
	}
}
